#header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header_image {
    height: 80px;
}

.header_section {
    width: 33%; 
    display: flex;
    justify-content: center; 
    font-size: 30px; 

}

.justify_start {
    justify-content: flex-start;
}

.justify_center {
    justify-content: space-evenly;
    font-size: 30px;
}

.justify_end {
    justify-content: flex-end;
}