body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 740px;
    margin: 40px auto;
}


/* Your CSS starts here */

.description {
    font-style: italic;
}

@import url('https://unpkg.com/css.gg@2.0.0/icons/css/dice-2.css');



